@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500;800&display=swap');

html {
    min-height: 100%;
}

body {
    background: rgb(100, 119, 202);
    background: linear-gradient(168deg, rgba(100, 119, 202, 1) 0%, rgba(213, 132, 202, 1) 94%);
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: aliceblue;
    height: 50px;
}

nav a {
    color: rgb(16, 20, 95);
    ;
    margin-top: 12px;
    text-decoration: none;
    padding: 22px;
    justify-content: end;
}

nav a:hover {
    color: rgb(162, 123, 163);
}

.content-with-header h1 {
    font-weight: 800;
    font-size: 46px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content-with-header {
    width: 80%;
    margin: 0 auto;
    color: aliceblue;
}

.content-with-header .btn-primary {
    background-color: rgb(100, 119, 202);
    border-color: rgb(100, 119, 202);
}

.content-with-header .btn-primary:hover {
    background-color: rgb(88, 105, 177);
    border-color: rgb(88, 105, 177);
}

.content {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 20%;
}

.content h2 {
    font-size: 29px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 23px;
    text-transform: uppercase;
}

.content ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-family: 'Anonymous Pro', monospace;
    letter-spacing: -1px;
}

.database {
    width: 90%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 27px;
    overflow-y: auto
}

.fixed_header {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #f8f8ff;
    width: 100%;
    z-index: 99;
}

.fixed_header a {
    float: right;
    display: block;
    color: black;
    font-weight: 500;
    text-align: center;
    padding: 18px 14px;
    text-decoration: none;
    top: 200px;
    font-size: 20px;
}

.fixed_header a:hover {
    background: rgba(213, 132, 202, 1);
    color: white;
    text-decoration: none;
}

.fixed_header img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -10px;
}

.database h2 {}

/* custom scrollbar */
.database::-webkit-scrollbar {
    width: 20px;
}

.database::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 0 30px;
}

.database::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.database::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.55);
}