@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500;800&display=swap');
html{
    min-height: 100%;
}ul{
    font-size: larger;
}

h1{
    text-align: center;
    font-size: 46px;
    letter-spacing: 1px;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: aliceblue;
    height: 50px;
}
nav a{
    color: rgb(16, 20, 95);;
    margin-top: 12px;
    text-decoration: none;
    padding: 22px;
    justify-content: end;
}
nav a:hover{
    color:rgb(162, 123, 163);
}
.image{
    height: 210px;
    width: auto;
    margin: 0 auto;
    text-align: center;
}
.image img{
    max-width: 100%;
    max-height: 120%;
    object-fit: cover;
}
.card .btn-primary {
    background-color: rgb(100,119,202);
    border-color: rgb(100,119,202);
    width: 100%;
}

.card .btn-primary:hover {
    background-color: rgb(88, 105, 177);
    border-color: rgb(88, 105, 177);
}