@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Poppins&display=swap');
ul{
    font-size: larger;
}

h1{
    text-align: center;
}

form{
    text-align: center;
}


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: aliceblue;
    height: 50px;
}
nav a{
    color: rgb(16, 20, 95);;
    margin-top: 12px;
    text-decoration: none;
    padding: 22px;
    justify-content: end;
}
nav a:hover{
    color:rgb(162, 123, 163);
}
