@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Poppins&display=swap');

html {
    min-height: 100%;
}

body {
    background: rgb(100, 119, 202);
    background: linear-gradient(168deg, rgba(100, 119, 202, 1) 0%, rgba(213, 132, 202, 1) 94%);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

nav {
    background-color: aliceblue;
    height: 50px;
}

nav a {
    color: rgb(16, 20, 95);
    ;
    margin-top: 12px;
    text-decoration: none;
    padding: 22px;
    justify-content: end;
}

nav a:hover {
    color: rgb(162, 123, 163);
}

h1 {
    text-align: center;
}

.genres {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 34px;
    margin: 0 auto;
}

.genre-content {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 10px 13px;
    padding: 20px 23px;
}

.genre-content h2 {
    text-align: center;
}

.genre-content li {
    font-family: 'Anonymous Pro', monospace;
    list-style: none;
}

.genre-content a {
    text-decoration: none;
    color: rgb(231, 244, 255);
}

a:hover {
    color: rgb(16, 20, 95);
}

p {
    padding-left: 20px;
}