<!DOCTYPE html>
<html>

<head>
    <title>Favorites - Tunes</title>
    <link rel="stylesheet" href="/static/favorites_style.css">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
</head>

<body>
    <div class="fixed_header">
        <img src="static/tuneslogo.png" >
        <a href="{{ url_for('logout') }}">LOGOUT</a>
        <a href="{{ url_for('landing') }}">TOP TRENDING</a>
        <a href="{{ url_for('extra1') }}">RECOMMENDATIONS</a>
    </div>

    <br>
    <br>
    <br>

    <div class="content-with-header">
        <h1>{{user}}'s Favorites</h1>

        <div class="content">

            <div class="database-left">
                <form method="POST" action="/save_fav_song">
                    <div class="form-group row">
                        <div class="input-group mb-1">
                            <input type="text" name="favSong" class="form-control" placeholder="Song title" aria-label="Song title" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <input class="btn btn-primary" type="submit" value="Add">
                            </div>
                        </div>
                    </div>
                </form>
                <form method="POST" action="/del_fav_song">
                    <div class="form-group row">
                        <div class="input-group mb-3">
                            <input type="text" name="favSong" class="form-control" placeholder="Song title" aria-label="Song title" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <input class="btn btn-primary" type="submit" value="Delete">
                            </div>
                        </div>
                    </div>
                </form>
                <h2>Songs</h2>
                <div class="database">
                    <ul>
                        {% for i in range(num_songs) %}
                        <li>
                            <p>{{fav_songs[i]}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="database-right">
                <form method="POST" action="/save_fav_artist">
                    <div class="form-group row">
                        <div class="input-group mb-1">
                            <input type="text" name="favArtist" class="form-control" placeholder="Artist name" aria-label="Song title" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <input class="btn btn-primary" type="submit" value="Add">
                            </div>
                        </div>
                    </div>
                </form>
                <form method="POST" action="/del_fav_artist">
                    <div class="form-group row">
                        <div class="input-group mb-3">
                            <input type="text" name="favArtist" class="form-control" placeholder="Artist name" aria-label="Song title" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <input class="btn btn-primary" type="submit" value="Delete">
                            </div>
                        </div>
                    </div>
                </form>
                <h2>Artists</h2>
                <div class="database">
                    <ul>
                        {% for i in range(num_artists) %}
                        <li>
                            <p>{{fav_artists[i]}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>