<html>

<head>
</head>

<body>
    <a href="{{ url_for('logout') }}">Press here to logout!</a>
    <a href="{{ url_for('extra1') }}">Press here to get recommendations!</a>
    <p>Hi {{user}}!</p>
    <br>
        <h2>POP</h2>
        {% for song in pop %}
        {{song}},
        {% endfor %}
        <br>
        <h2>HIP HOP</h2>
        {% for song in hiphop %}
        {{song}},
        {% endfor %}
        <br>
        <h2>RnB</h2>
        {% for song in rnb %}
        {{song}},
        {% endfor %}
        <br>
        <h2>COUNTRY</h2>
        {% for song in country %}
        {{song}},
        {% endfor %}
</body>

</html>