<html>

<head>
    <link rel="stylesheet" href="/static/landing_style.css">
    <title>Tunes</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('logout') }}">Press here to logout!</a>
        <a href="{{ url_for('extra1') }}">Press here to get recommendations!</a>
        <a href="{{ url_for('favorites') }}">Favorites</a>
    </nav>

    <div class="main-content">
        <p>Hi {{user}}!</p>

        <h1>Top Trending</h1>
        <div class="genres">
            <div class="genre-content">
                <h2>POP</h2>
                {% for song in pop %}
                <ul>
                    <li>
                        <a href="https://www.youtube.com/results?search_query={{song}}+covers">{{song}}</a>
                    </li>
                </ul>
                {% endfor %}
            </div>

            <div class="genre-content">
                <h2>HIP HOP</h2>
                {% for song in hiphop %}
                <ul>
                    <li>
                        <a href="https://www.youtube.com/results?search_query={{song}}+covers">{{song}}</a>
                    </li>
                </ul>
                {% endfor %}
            </div>

            <div class="genre-content">
                <h2>RnB</h2>
                {% for song in rnb %}
                <ul>
                    <li>
                        <a href="https://www.youtube.com/results?search_query={{song}}+covers">{{song}}</a>
                    </li>
                </ul>
                {% endfor %}
            </div>

            <div class="genre-content">
                <h2>COUNTRY</h2>
                {% for song in country %}
                <ul><li>
                    <a href="https://www.youtube.com/results?search_query={{song}}+covers">{{song}}</a>
                </li></ul>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
        
    <div class="about">
        <div class="image">
            <img src="static/tuneslogo.png">
        </div>

        <div class="about-text">
            <h1>About Tunes</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente perferendis quod, illo saepe expedita ullam exercitationem ipsam deserunt, cum suscipit vero voluptates blanditiis explicabo voluptatibus id ea iusto? Distinctio nesciunt voluptates asperiores aspernatur quis assumenda deserunt. Sed hic praesentium nisi illo laudantium nobis quaerat ipsum voluptates, voluptate voluptatem ipsam eius, amet facilis ipsa dolore a quidem!</p> 
            <h3>Who we are</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quis animi soluta aspernatur dicta minus eaque, harum aliquam neque sequi culpa vero. Officia, voluptas labore beatae vitae laborum autem porro voluptatem dolorum cumque odio.</p>
        </div> 
    </div>

</body>

</html>