<html>

<head>
</head>

<body>
    <a href="{{ url_for('logout') }}">Press here to logout!</a>
    <a href="{{ url_for('extra1') }}">Press here to get recommendations!</a>
    <a href="{{ url_for('favorites') }}">Favorites</a>
    <p>Hi {{user}}!</p>
    <br>
    <h2>POP</h2>
    {% for song in pop %}
    <a href="https://www.youtube.com/results?search_query={{song}}+covers">{{song}}</a>,
    {% endfor %}
    <br>
    <h2>HIP HOP</h2>
    {% for song in hiphop %}
    <a href="https://www.youtube.com/results?search_query={{song}}+covers">{{song}}</a>,
    {% endfor %}
    <br>
    <h2>RnB</h2>
    {% for song in rnb %}
    <a href="https://www.youtube.com/results?search_query={{song}}+covers">{{song}}</a>,
    {% endfor %}
    <br>
    <h2>COUNTRY</h2>
    {% for song in country %}
    <a href="https://www.youtube.com/results?search_query={{song}}+covers">{{song}}</a>,
    {% endfor %}
</body>

</html>