<html>

<head>
</head>

<body>
    <a href="{{ url_for('logout') }}">Press here to logout!</a>
    <a href="{{ url_for('landing') }}">Press here to go to landing page!</a>
    <form method="POST" action="/recommendations">
        <input type="text" name="song_title">
        <input type="submit" value="Submit">
    </form>
    {{flash}}<br>

    {% for artists in related_artists %}
    <a href="https://www.youtube.com/results?search_query={{artists}}">{{artists}}</a>
    <br>
    {% endfor %}

</body>

</html>